<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">      
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>net.fly78.server.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/testgae2/greet</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>Quercus Servlet</servlet-name>
		<servlet-class>com.caucho.quercus.servlet.QuercusServlet</servlet-class>
		<init-param>
			<param-name>ini-file</param-name>
			<param-value>WEB-INF/php.ini</param-value>
			<param-name>compile</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Quercus Servlet</servlet-name>
		<url-pattern>*.php</url-pattern>
	</servlet-mapping>
  
   <servlet>
        <servlet-name>crosswall</servlet-name>
        <servlet-class>net.fly78.CrossWall</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crosswall</servlet-name>
        <url-pattern>/crosswall</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>JdoGoogle</servlet-name>
    <servlet-class>net.fly78.domain.JdoGoogle</servlet-class>
  </servlet>
 <servlet-mapping>
    <servlet-name>JdoGoogle</servlet-name>
    <url-pattern>/jdogoogle</url-pattern>
  </servlet-mapping>
  
  
      <servlet>
    <servlet-name>Daniel</servlet-name>
    <servlet-class>net.fly78.guests.Daniel</servlet-class>
  </servlet>
 <servlet-mapping>
    <servlet-name>Daniel</servlet-name>
    <url-pattern>/daniel</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>Resume</servlet-name>
    <servlet-class>net.fly78.Resume</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resume</servlet-name>
    <url-pattern>/resume</url-pattern>
  </servlet-mapping>
  <servlet>
  
 <servlet-name>GroovyServlet</servlet-name>
 <servlet-class>groovy.servlet.GroovyServlet</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>GroovyServlet</servlet-name>
 <url-pattern>*.groovy</url-pattern>
</servlet-mapping>
  
</web-app>
<!--  
	  	<servlet>
		<servlet-name>Quercus Servlet</servlet-name>
		<servlet-class>com.caucho.quercus.servlet.QuercusServlet</servlet-class>
		<init-param>
			<param-name>ini-file</param-name>
			<param-value>WEB-INF/php.ini</param-value>
			<param-name>compile</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Quercus Servlet</servlet-name>
		<url-pattern>*.php</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>phpwithjava</servlet-name>
		<servlet-class>de.apux.ajaxialis.ajaxialisServlet</servlet-class>
	</servlet>
 

	<servlet-mapping>
		<servlet-name>phpwithjava</servlet-name>
		<url-pattern>/phpwithjava</url-pattern>
	</servlet-mapping>

 
	-->