#first setp
#Make sure httpd.conf include this config
# Virtual hosts
Include conf/extra/httpd-vhosts.conf

#----------------------------
#sec setp
#edit httpd-vhosts.conf

#
# Virtual Hosts
#
# If you want to maintain multiple domains/hostnames on your
# machine you can setup VirtualHost containers for them. Most configurations
# use only name-based virtual hosts so the server doesn't need to worry about
# IP addresses. This is indicated by the asterisks in the directives below.
#
# Please see the documentation at 
# <URL:http://httpd.apache.org/docs/2.2/vhosts/>
# for further details before you try to setup virtual hosts.
#
# You may use the command line option '-S' to verify your virtual host
# configuration.

#
# Use name-based virtual hosting.
#
#NameVirtualHost *:80 
#
# VirtualHost example:
# Almost any Apache directive may go into a VirtualHost container.
# The first VirtualHost section is used for all requests that do not
# match a ServerName or ServerAlias in any <VirtualHost> block.
#
<VirtualHost 121.12.117.61>#<---IP
    ServerAdmin webmaster@dummy-host2.dafei.com
    DocumentRoot "D:/apache/apache/htdocs" #Most important U have power to access the file.....
    ServerName local
    ErrorLog "logs/localhost-error.log"
    CustomLog "logs/localhost-access.log" common
</VirtualHost>


NameVirtualHost www.3s-partners.com
<VirtualHost 121.12.117.61>#<---IP
    ServerAdmin webmaster@dummy-host.dafei.com
    DocumentRoot "D:/apache/apache/htdocs/aa" #Most important U have power to access the file.....
    ServerName www.3s-partners.com
    ErrorLog "logs/3s-error.log"
    CustomLog "logs/3s-access.log" common
</VirtualHost>



