#ÃÌº”“¿¿µMod
LoadModule proxy_balancer_module modules/mod_proxy_balancer.so
LoadModule proxy_http_module modules/mod_proxy_http.so
LoadModule proxy_module modules/mod_proxy.so




#ProxyPass /app1 http://localhost:12888/
#ProxyPassReverse /app1 http://localhost:12888/
#ProxyPass /app1 http://localhost:12888/ smax=5 max=10

#≈‰÷√
ProxyPass /app1 balancer://mycluster/ 
<Proxy balancer://mycluster>
BalancerMember http://192.168.1.104:8080/truth4j/ loadfactor=10
BalancerMember http://192.168.1.101:8080/TestTest/ smax=10 loadfactor=30
# Less powerful server, don't send as many requests there
BalancerMember http://192.168.1.103:12888/truth4j/ smax=1 loadfactor=20

</Proxy> 

#µÿ÷∑ http://httpd.apache.org/docs/2.2/mod/mod_proxy.html#proxypass