********************************MASTER***********************************:

[mysqld]
server-id = 1 #  master_id
log-bin # = mysql-bin 二进制日志 (文档上加了= mysql-bin，不加也成功了,可能是文件前缀)
binlog_do_db = nbrick #要同步的数据库




*********************************SLAVE*************************************:

[mysqld]
master-host=192.168.1.101
master-user=root  
master-password=password  
master-port=3306  
server-id=2  
master-connect-retry=60
replicate-do-db=nbrick
#log-slave-updates 